<%= form_for(@project, html: {class: "form-inline"}, remote: true) do |f| %>
  <ul>
  <% @project.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit 'Submit', class: "btn btn-success" %>

<% end %>