<%= div_for project do%>
	<%= link_to project.name, project %>
	<%= link_to 'edit', edit_project_path(project), remote: true %>
	<%= link_to 'delete', project, method: :delete, remote: true, 
		data: {confirm: "Really delete the project?"} %>


    <% @project = project %>
    <% @task = @project.tasks.new %>

    <%= render partial: 'tasks/form' %>

    <div class="tasks">
        <%= render partial: 'projects/task', collection: project.tasks.delete_if{|x| x.id == nil} %>
    </div>

<%end%>

<hr />